<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
    <add key="globalPackagesFolder" value="/tmp/nuget-packages" />
  </config>
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="true" />
      <certificate fingerprint="5A2901D6ADA3D18CA5CA3F4A370F7D7EC0E47E5E0E677C6F93BBC2A2F1C37C64" hashAlgorithm="SHA256" allowUntrustedRoot="true" />
    </repository>
  </trustedSigners>
</configuration>